<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven/>
    <mvc:resources mapping="/pages/*.html" location="/WEB-INF/pages/"/>
    <mvc:resources mapping="/js/*.js" location="/WEB-INF/js/"/>
    <mvc:resources mapping="/css/*.css" location="/WEB-INF/css/"/>

    <context:component-scan base-package="com.james.springdemo.controller"/>
    <context:component-scan base-package="com.james.springdemo.service"/>
    <context:component-scan base-package="com.james.springdemo.dao"/>
    <context:component-scan base-package="com.james.springdemo.handler"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置jdbc数据源，这里采用的是spring自带的drivermanagerdatasource数据源 此外还可以采用dbcp、c3p0、JNDI等数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/world"/>
        <property name="username" value="yp"/>
        <property name="password" value="yp"/>
    </bean>

    <!--配置jdbcTemplate-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>




</beans>

